<h1>Resultados de la búsqueda</h1>
<h2>{{data.nombres}} {{data.apellidos}}</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>C.I.: </strong>{{data.ci}}</li>
  <li class="list-group-item"><strong>Año nacimiento: </strong>{{data.nacimiento}}</li>
  <li class="list-group-item"><strong>Año defunción: </strong>{{data.defuncion}}</li>
  <li class="list-group-item"><strong>Nombre cementerio: </strong>{{data.cementerio}}</li>
  <li class="list-group-item"><strong>No. lápida: </strong>{{data.nolapida}}</li>
</ul>
<div class="row">
  <form method="POST" action="/fallecido/delete/{{data.ci}}?_method=DELETE">
  <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>

</div>


