<h1>Registro guardado</h1>
<h2>{{data.nombres}} {{data.apellidos}}</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>C.I.: </strong>{{data.ci}}</li>
  <li class="list-group-item"><strong>A침o nacimiento: </strong>{{data.nacimiento}}</li>
  <li class="list-group-item"><strong>A침o defunci칩n: </strong>{{data.defuncion}}</li>
  <li class="list-group-item"><strong>Nombre cementerio: </strong>{{data.cementerio}}</li>
  <li class="list-group-item"><strong>No. l치pida: </strong>{{data.nolapida}}</li>
</ul>
</div>


